<p>Found <%= @restaraunts.count %> available restaraunts</p>

<ul>
	<% @restaraunts.each { |restaraunt| %>
		<li>
			<%= restaraunt[:name] %> (<%= restaraunt[:address] %>) / <%= restaraunt[:category] %>
		</li>
	<% } %>
</ul>